video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.App {
    background-color: rgba(255, 255, 255, 0.5);
}

.container {
    display: flex;
    justify-content: center;
}

.search {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    color: #575756;
    box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

li {
    font-family: 'Open Sans', sans-serif;
    background-color: pink;
    padding: 15px;
    margin: 15px;
    list-style: none;
}

h1, h2, p {
    font-family: 'Open Sans', sans-serif;
}

button {
    margin-top: 10px;
    border-radius: 12px;
    border: none;
    background-color: #dbecc4;
}